---
layout: base.njk
title: CTF Writeups - Youstube
description: Collection of CTF challenge writeups and solutions
---

<section>
    <h1>CTF Writeups</h1>
    <p>Collection of CTF challenge writeups and cybersecurity blog posts.</p>
    
    <ul class="writeups-list">
        <li class="writeup-item">
            <a href="/writeups/sample-writeup/" class="writeup-title">Sample CTF Writeup</a>
            <div class="writeup-meta">
                <span>2026-02-10</span> | <span>Web Exploitation</span>
            </div>
            <p>This is a sample writeup. Add your CTF writeups here.</p>
        </li>
    </ul>
</section>
