---
layout: base.njk
title: a slopped terminal for fun
description: idk maybe will be better in the future
bodyClass: terminal-page
---

<div id="terminal-wrapper">
    <div id="terminal"></div>
</div>
